
%head

%Title.h3 This is the About Page

%body
  .container.center-align
    %h1 Unstyled about us page
    %br
    %p.s12 
    After all, why should you go to jail for a crime somebody else noticed? What's gotten into you? Have you been eating cheese?  Hahahahah! Yeah, like I'm going to take a whiz through this $5,000 suit. COME ON. This is the best free scrapbooking class I've ever taken! Did you know that more frozen bananas are sold right here on this boardwalk than anywhere on the OC? Oh, COME ON! Hey, it was one night of wild passion! And yet you didn't notice her body? I like to look in the mirror. So maybe you could start jete-ing, and stop je-terrorizing me! 

  .container
    %p.s12.m6 
      Coo coo ca chaw. Coo coo ca chaw. Heyyyyyy Uncle Father Oscar. Excuse me while I circumvent you. The old reach-around. Absolutely. And we're going to be here every day. I don't care if it takes from now till the end of Shrimpfest. I didn't get into this business to please sophomore Tracy Schwartzman, so… onward and upward. On… Why, Tracy?! Why?!! 

    %p.s12.m6 
      Michael, look, this has got to stop. I mean, flattered? Yes. Interested? Not tonight. Why are you squeezing me with your body? It's a wonderful restaurant! A sea of waiters and no one will take a drink order. Are all the guys in here… you know? George Sr: No not all of them. Barry: Yeah. It's never the ones you hope. Friend of mine from college. He also has a boat tho not called the Seaward. I'm not a prostitute. Then I shall let you live! Although George Michael had only got to second base, he'd gone in head first, like Pete Rose. 

  