%body
  %div
    .row
      .col.s12
        %h2.center
          You Only Have One Life
        %hr

      .col.s10.offset-s1
        %ul
          - @goals.each do |goal|
            -user = goal.user
            %li
              = render(partial: "layouts/goal_card", locals: {goal: goal, user: user})
