%body
  %div.row
    %div.col.s12
      %h2.center Welcome to yohol! Check out our users
      %br
      %br
      %br

  %div.row
    - @goals.each do |goal|
      %li
        =goal.title
        =goal.description
        =goal.user.user_name
        =goal.user.description

        
      -# - @users.each do |user|
      -#   %li
      -#     =user.user_name
      -#     =user.description
      -#     =user.goals.first.title
      -#     =user.goals.first.description
