.goal-card.card.col.m5.s12
  .card-image
    %img{src: goal.picture.url(:med)}
      .card-title.center-align{style: "width: 100%; height: 100%;"}
        .goal-content{style: "height: 33%; margin-top: 33%"}
          %h3
            = link_to "#{goal.title}", goal_path(goal.id)
          %p
            = link_to "#{user.user_name}", user_path(user.id)
